In [1]:
import mlxtend

# machine learning

## association analysis

In [ ]:
#simplest form
#set of transaction is the input
#used in web usage mining,bioinformatics,continuous production

# market basket analysis

In [2]:
#concept
#available info.
#list of purchase made over a period of time

#problem statement
## can we find purchase pattern?

In [3]:
#other application areas
#banking service
#insurance

In [ ]:
# association rule
# X->Y
# where X has happened and Y might happen

In [5]:
'''Record           Items bought


Record1           Bread,Milk,Beer
Record2         Bread,Diapers,Eggs
Record3          Milk,Diapers,Beer,Cola
Record4          Bread,Milk,Diapers,Beer
Record5            Bread,Milk,Cola'''

NameError: name 'Record' is not defined

## support

In [ ]:
# range[0,1]
'''supp(X)=occuance of X/total records in data set
eg-
supp(M)=4/5=0.8
supp(B,M)=3/5=0.6
supp(c)=2/5=0.4  (as less than 40% so it is not considered)
'''

# confidence

In [ ]:
# range[0,1]
'''conf(X->Y)=supp(X n Y)/supp(X)
eg-
conf(M->B)=3/4=0.75
con(M->B)=3/4=0.75
conf(B->M)=3/3=1
'''
# in confidence we always work in pair

# lift

In [ ]:
# range[0,infinity]
'''lift(X->Y)=supp(X U Y)/[supp(X)*supp(Y)]  i.e.(no. o x with y/no. of x not with y)
'''

In [ ]:
# available alorithms

## Apriori algo.
## Eclat algo.
## FP-growth algo.

# Apriori alorithm

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #transactionEncoder is used to convert human readable(eg.cola) to the form that comp. can understand
from mlxtend.frequent_patterns import apriori #apriori is the algo. that is goin to be used

dataset=[["Bread","Milk","Beer"],
        ["Bread","Diapers","Eggs"],
        ["Milk","Diapers","Beer","Cola"],
        ["Bread","Milk","Diapers","Beer"],
        ["Bread","Milk","Cola"]]

In [7]:
te = TransactionEncoder() #
te=te.fit(dataset)  #reads all unique items
te_ary=te.transform(dataset)   #transforms into columns
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [9]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [30]:
# finds frequency of the item
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True) #can try for false also
frequent_itemsets

   support       itemsets
0      0.6         [Beer]
1      0.8        [Bread]
2      0.6      [Diapers]
3      0.8         [Milk]
4      0.6   [Beer, Milk]
5      0.6  [Bread, Milk]

In [13]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="support",min_threshold=0.5)
rules
# here there can be max 30 pairs as there are 6 items so (6x5)
# so after filtering we got the below items (i.e. only 4)

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [ ]:
#antecedants is X value
#consequents is Y value
# if lift value is more than 1 means there are some buyers who buy in such sequence

In [14]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [15]:
#this is now a dataframe so we can find the max,min,etc values
rules[rules['support']==rules['support'].max()]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [ ]:
#tomorrow makin an app and using large dataset

In [19]:
print(type(rules['antecedants'][0]))
print(type(rules['consequents']))

<class 'frozenset'>
<class 'pandas.core.series.Series'>

In [20]:
#set
a=['Milk','Beer','Bread','Eggs']
b=set(a)
print(b,type(b))
#in set we are not bothered about the order
#only imp. is that all items should be present

{'Beer', 'Bread', 'Milk', 'Eggs'} <class 'set'>

In [22]:
items=['Bread','Beer']
set(items).issubset(b)
#issubset is a keyword and returns true or false

True

In [23]:
a=set(["Bread","Milk","Beer"])
b=set(["Milk","Diapers"])
a^b # removes the common items from both the sets

{'Beer', 'Bread', 'Diapers'}

In [25]:
a=set(["Eggs","Milk","Beer",'Diapers'])
b=set(["Milk","Diapers"])
print(a-b)
print(b-a)

{'Beer', 'Eggs'}
set()

# exercise

In [41]:
#find all the rows as milk as antecedant
#rules[rules['antecedants']==set(['Milk'])]
cart=['Milk']
rules[rules['antecedants'].apply(lambda x:set(cart).issubset(set(x)))]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8